/*
Saisie d'un client
*/

#infoG {
    width: 45%;
    float: left;
    margin-left: 5%;
}

#formClient {
    border: 1px solid black;
    width: 90%;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: #c8e6c9;
}

.rien {
    border: 3px solid #78909c;
    border-radius: 5px;
    height: 25px;
}


/*
BODY
*/

body {
    background-color: #00796b;
}

ul {
    list-style: none;
}

input {
    margin-top: 10px;
}

p,
.recapArticle li,
span{
    font-size: 20px;
}

/*
Récapitulatif commande
*/

#priseClient {
    display: none;
}

#recap {
    width: 45%;
    float: right;
    margin-right: 5%;
    font-size: 25px;
    display: inline-block;
    text-align: center;
}

.valeurQuantite {
    width: 7%;
    text-align: center;
}

.croixSuppr {
    width: 25px;
    height: 25px;
}

#recapCommande li {
    font-size: 15px;
}

#custom,
#client {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
}

#client {
    width: 80%;
    padding: 15px;
}

#client,
#recapCommande {
    border-radius: 50px;
    background-color: #b2dfdb;
}

.mesures,
#infoClient {
    padding: 0px;
}

#recapCommande {
    width: 85%;
    text-align: center;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.recapArticle {
    padding: 0px;
    margin: 15px;
}

.croixTD {
    color: red;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    width: 40%;
    margin-left: 30%;
}

#nouvClient{
    font-size : 25px;
}


/*
Article
*/

#priseCommande {
    display: none;
}

#choixServices {
    float: left;
    margin: 0px;
}

.plusMoins {
    display: none;
}

.imageMoins,
.imagePlus {
    width: 20px;
    height: 20px;
}

.descMesure {
    margin: 0px;
}

.prix {
    margin-top: 5px;
    margin-bottom: 0px;
}

.vetement {
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #b2dfdb;
}

#services,
#merceries {
    border-radius: 20px;
    margin-top: 20px;
    background-color: #dcedc8;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

#custom {
    border-radius: 20px;
    background-color: #80cbc4;
    margin-bottom: 10px;
}

.article {
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

.type {
    width: 300px;
}

#enreClient{
    padding : 0px;
    margin :0px;
    font-size: 30px;
}

/*
Forme curseur
*/

#boutonEnreCom,
#boutonOK,
#nouvClient,
.boutonSousArticle,
.boutonEnre,
.modifMesure,
.croixTD,
.boutonDev,
.moins,
.plus {
    cursor: pointer;
}


/*
Saisie incorecte ou correcte
*/

.correcte {
    border: 3px solid #81c784;
    border-radius: 5px;
    height: 25px;
}

.incorrecte {
    border: 3px solid #ef5350;
    border-radius: 5px;
    height: 25px;
}


/*
Les HR
*/

.hrArticle {
    width: 40%;
}

.hr {
    width: 80%;
    margin-left: 10%;
}


/*
BOUTONS
*/

#boutonEnreCom,
#boutonOK,
.boutonEnre {
    border: 1px solid black;
    width: 40%;
    border-radius: 10px;
}

#boutonEnreCom {
    background-color: #b2dfdb;
    margin-bottom: 10px;
    height: 40px;
    display: none;
}

#boutonOK {
    background-color: #b2dfdb;
    height: 35px;
}

.boutonEnre {
    background-color: #0277bd;
    height: 30px;
    width: 60%;
}