#infoG {
    width: 300px;
    float: left;
    margin-left: 20%;
}

#recap {
    width: 300px;
    float: right;
    margin-right: 20%;
    font-size: 25px;
}

.incoText {
    color: red;
    margin-left: 20px;
}

#choixServices {
    width: 300px;
    float: left;
}

input {
    margin-top: 10px;
}

.croixSuppr {
    width: 25px;
    height: 25px;
}

.croixTD {
    width: 10px;
    height: 10px;
}