#infoG {
    width: 45%;
    float: left;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
}

#recap {
    width: 45%;
    float: right;
    margin-right: 5%;
    font-size: 25px;
    display: inline-block;
    text-align: center;
}

.incoText {
    display: none;
}

.incoText,
.incoQuantite {
    color: red;
    margin-left: 20px;
}

.valeurQuantite {
    width: 7%;
    text-align: center;
}

#choixServices {
    width: 300px;
    float: left;
    margin: 0px;
    padding-bottom: 10px;
}

input {
    margin-top: 10px;
}

.croixSuppr {
    width: 25px;
    height: 25px;
}

.croixTD {
    cursor: pointer;
}

ul {
    list-style: none;
}

.boutonDev {
    cursor: pointer;
}

.moins,
.plus {
    cursor: pointer;
}

.plusMoins {
    display: none;
}

#boutonOK,
.boutonEnre {
    cursor: pointer;
}

.imageMoins,
.imagePlus {
    width: 20px;
    height: 20px;
}

.descMesure {
    margin: 0px;
}

.prix {
    margin-top: 5px;
    margin-bottom: 0px;
}

#recapCommande li {
    font-size: 15px;
}

.modifMesure {
    cursor: pointer;
}

#formClient {
    border: 1px solid black;
    width: 80%;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: #c8e6c9;
}

#custom,
#client {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

#services,
#merceries {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
}

#client,
#recapCommande {
    border-radius: 50px;
    background-color: #b2dfdb;
}

body {
    background-color: #00796b;
}

#services,
#merceries {
    border-radius: 20px;
    margin-top: 20px;
}

.vetement {
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #b2dfdb;
}

#infoClient {
    padding: 0px;
}

#services,
#merceries {
    background-color: #dcedc8;
}

#custom {
    border-radius: 20px;
    background-color: #80cbc4;
    margin-bottom: 10px;
}

.article {
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
}

#recapCommande {
    width: 70%;
    text-align: center;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.recapArticle {
    padding: 0px;
    margin: 15px;
}

.hr {
    width: 60%;
    margin-left: 20%;
}

.croixTD {
    color: red;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    width: 40%;
    margin-left: 30%;
}

.mesures {
    padding: 0px;
}

#nouvClient {
    cursor: pointer;
}